.dashboardPage {
  color: #000;

  //Side Bar
  .compteSideBar {
    padding-right: 1.5rem;

    .clientBox {
      color: #666;
      margin-bottom: 3rem;

      h3 {
        font-family: $jostFont;
        font-size: 1.01rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #000;

        span {
          color: #666666;
          font-family: $sansSourceFont;
          font-size: 0.875;
          display: block;
          margin-top: 1rem;
          text-transform: lowercase;
        }
      }

      .clientID {
        font-size: 0.875;
        color: #666666;
      }

      .logout {
        color: #000;
        border: 1px solid #cccccc;
        padding: 0.5rem 2.5rem;
        outline: none;
        text-transform: uppercase;
        margin-top: 1rem;
        transition: all 0.2s;
        background-color: #fff;
        font-size: 0.8125rem;
        font-weight: 600;

        &:hover {
          color: #fff;
          background-color: #09a8d9;
          border-color: #09a8d9;
        }
      }
    }

    .dashBoardNav {
      padding-left: 0;
      flex-direction: column;

      li {
        font-family: $jostFont;

        a {
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 600;
          color: #000;
          text-decoration: none;
          font-family: $jostFont;
          transition: all 0.2s;
          display: block;
          padding: 0.5rem 0;
          margin-bottom: 0.5rem;

          svg {
            display: inline-block;
            margin-right: 1rem;
            transition: all 0.2s;
          }

          &:hover {
            color: #09a8d9;

            svg {
              margin-right: 1.25rem;
            }
          }
        }

        &.active {
          a {
            color: #09a8d9;

            &:hover {
              svg {
                margin-right: 1rem;
              }
            }
          }
        }
      }
    }

    .customerSupport {
      margin-top: 3rem;
      border: 1px solid #e1e1e1;
      padding: 1rem;
      display: flex;
      align-items: center;

      img {
      }

      .supportInfo {
        padding-left: 1rem;

        h3 {
          font-size: 1.099rem;
          font-family: $jostFont;
          font-weight: 600;
        }

        h4 {
          color: #0098cc;
          font-family: $jostFont;
          font-size: 1.099rem;
          font-weight: 600;
          margin-bottom: 0;

          span {
            color: #666666;
            font-size: 0.6993rem;
            display: block;
            padding-top: 0.2rem;
          }
        }
      }
    }
  }

  // compteDetails
  .compteDetails {
    h1 {
      font-family: $jostFont;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 4rem;

      &:after {
        content: "";
        display: block;
        height: 1px;
        background-color: #e1e1e1;
        margin-top: 1rem;
      }
    }

    .addresses {
      padding-left: 0;
      h4 {
        color: #666666;
        font-size: 1.1rem;
        text-transform: uppercase;
      }
      h3 {
        font-size: 1.4rem;
        text-decoration: uppercase;
        margin-bottom: 2rem;
      }

      p {
        color: #666666;

        &.name {
          font-weight: 600;
          margin-bottom: 0.5rem;
        }
      }

      button {
        margin-top: 2.5rem;
        padding: 0.3rem 2.2rem;
        color: #fff;
        background-color: #0098cc;
        border: none;
        transition: all 0.2s;

        &:hover {
          background-color: #000;
        }
      }
    }
  }

  .infos {
    label {
      display: block;
      font-weight: 600;
      padding-bottom: 0.5rem;
    }

    input,
    select {
      display: block;
      width: 100%;
      border-radius: 5px;
      border-color: #cccccc;
      border-width: 1px;
      padding: 0.5rem;
      margin-bottom: 1.5rem;

      &::placeholder {
        color: #666;
      }
    }

    .radioWrap,
    .checkboxWrap {
      label,
      input {
        display: inline-block;
        width: auto;
      }

      label {
        margin-right: 3rem;
        font-weight: 500;
      }

      input {
        margin-right: 0.5rem;
      }
    }

    .checkboxWrap {
      input {
        margin-bottom: 0;
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-top: 2px;
      }

      label {
        margin-bottom: 1.5rem;
      }
    }

    .chooseCategories {
      h4 {
        font-family: $jostFont;
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      label {
        font-size: 0.95rem;
        margin-bottom: 0.5rem;
      }
    }

    .react-tel-input {
      .special-label {
        display: none;
      }

      input {
        margin-bottom: 0;
        padding-left: 3rem !important;
      }
    }

    button {
      font-weight: 600;
      border: none;
      background-color: #09a8d9;
      color: #fff;
      padding: 0.5rem 2rem;
      transition: all 0.2s;
      margin: 2rem 0;

      &:hover {
        background-color: #000;
      }
    }

    .confirmValidate {
      text-align: right;
    }

    .changePassword {
      margin-top: 2rem;

      h3 {
        font-weight: 600;
        margin-bottom: 2rem;
      }

      .passwordNote {
        color: red;
        font-style: italic;
        font-size: 0.9rem;
        margin-top: -1rem;
      }
    }

    .contactDetails {
      margin-top: 2rem;

      h3 {
        font-weight: 600;
      }

      button {
        background-color: #000;

        &:hover {
          background-color: #09a8d9;
        }
      }

      .contactList {
        padding-left: 0;
        padding-bottom: 3rem;

        li {
          .addressWrap {
            display: flex;
            align-items: center;
            border: 1px solid #cccccc;
            padding: 1rem;

            .details {
              flex: 1;

              .name,
              .role {
                font-weight: 600;
              }

              .status {
                font-style: italic;
              }

              .email,
              .role {
                margin-bottom: 0.7rem;
              }
            }

            .modify {
              visibility: hidden;
              transition: all 0.2s;
            }
          }

          &:hover {
            .addressWrap {
              .modify {
                visibility: visible;
              }
            }
          }
        }
      }
    }
  }
}

// dashboardAddress Modal
.modal {
  &.dashboardAddress {
    .modal-dialog {
      min-width: 60%;
    }

    .modalPadding {
      padding: 1.5rem 2.5rem;
    }

    h2 {
      font-family: $jostFont;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    h3 {
      font-weight: 600;
      font-family: $jostFont;
      margin-bottom: 1rem;
    }

    label {
      display: block;
      font-weight: 600;

      span {
        font-weight: 400;
        color: #666;
        font-style: italic;
      }
    }

    input,
    select {
      display: block;
      width: 100%;
      border-radius: 5px;
      border-color: #cccccc;
      border-width: 1px;
      padding: 0.5rem;
      margin-bottom: 1.5rem;
    }

    .radioWrap {
      label,
      input {
        display: inline-block;
        width: auto;
      }

      label {
        margin-right: 3rem;
        font-weight: 500;
      }

      input {
        margin-right: 0.5rem;
      }
    }

    .react-tel-input {
      .special-label {
        display: none;
      }

      input {
        margin-bottom: 0;
      }
    }

    .modal-footer {
      display: flex;
      justify-content: space-between;
      padding: 0 2.5rem 1.5rem 2.5rem;
    }
  }
}

.promoCodesPage {
  h2 {
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .codesList {
    padding-bottom: 4rem;
    padding-left: 0;

    .promoWrap {
      border: 1px solid #cccccc;
      padding: 1.2rem 1rem;

      p {
        margin-bottom: 0;

        span {
          font-weight: 600;
          padding-right: 0.25rem;
        }
      }
    }
  }

  .promoUsed {
    margin: 1.5rem 0;
    width: 100%;
    border-collapse: collapse;
    border-style: dashed;
    color: #000000;
  }

  td,
  th {
    border-width: 0 0 1px 0;
    border-color: #cccccc;
    border-style: dashed;
    padding: 1rem 0;

    &.title {
      font-weight: 600;
    }
  }

  thead {
    border-width: 0 0 1px 0;
    border-color: #cccccc;
    border-style: dashed;
    padding: 1rem 0;
    font-weight: 600;

    th {
      font-weight: 600;
    }
  }
}

// orders
.ordersPage {
  h2 {
    margin-bottom: 1.5rem;
    font-weight: 600;
  }

  .accordion {
    .accordion-item {
      border: none;
      padding: 0;

      .accordion-button {
        border: none;
        background-color: #000;
        text-tranform: uppercase;
        color: #fff;
        padding: 0.25rem 1.5rem;
        border-radius: 0;
        font-weight: 600;
        display: block;
        text-align: center;
        font-size: 0.9rem;

        &:after {
          display: none;
        }
      }
    }
  }

  .orderSnipHeader {
    width: 100%;

    tr {
      width: 100%;
      padding: 1rem 0;
      border: 1px dashed #c3c3c3;
      border-width: 1px 0;
    }

    td {
      font-size: 0.9rem;
      padding: 0.5rem 0;

      &.orderNumber {
        font-weight: 600;
      }

      &.orderName,
      &.category {
        color: #09a8d9;

        span {
          color: #000;
        }

        a {
          color: #000;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .accordion-body {
    background-color: #e3e3e3;
    margin-top: 1rem;
    margin-bottom: 3rem;

    h3,
    h4 {
      font-weight: 600;
    }

    h4 {
      font-size: 1rem;
      margin-top: 1.5rem;
    }

    .validation {
      font-weight: 600;
      color: #09a8d9;
      text-align: center;
      margin: 1.5rem auto;
    }

    .orderInfo {
      padding-right: 1.5rem;

      p {
        color: #000;

        span {
          font-weight: 600;
        }
      }

      .products {
        font-size: 0.9rem;

        td {
          span {
            padding: 0;
            padding-right: 0.5rem;
          }
        }

        .productName {
          padding-right: 2rem;
          padding-bottom: 0.5rem;
        }

        .price {
          display: flex;
          white-space: nowrap;

          .discount {
            text-decoration: line-through;
          }
        }
      }

      .suivi {
        a {
          color: #000;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .orderCalc {
      padding-left: 1.5rem;

      table {
        tr {
          td {
            padding-bottom: 0.25rem;

            &:nth-child(2n) {
              text-align: right;
            }

            &.promo {
              span {
                color: #09a8d9;
                padding-left: 1rem;
              }
            }
          }

          &.total {
            border-top: 1px dashed #c8c8c8;

            td {
              padding: 0.75rem 0;
              font-weight: 600;

              &:nth-child(2n) {
                color: #09a8d9;
              }
            }
          }
        }
      }
    }
  }

  .ordersFilter {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      h2 {
        margin-bottom: 0;
      }

      .filterInput {
        select {
          min-width: 11rem;
        }
      }
    }
  }
}

.reviewsPage {
  h3 {
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  .ratings {
    padding-left: 0;
    padding-top: 2rem;

    li {
      .ratingContent {
        border: 1px solid #cccccc;
        padding: 1rem;
        display: flex;
        margin-bottom: 2.5rem;

        .productImg {
          margin-right: 1.5rem;
        }

        .details {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
            font-size: 0.9rem;
          }

          .rate {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .stars {
              svg {
                color: #bfbdbd;

                &:hover {
                  color: #e08719;
                }
              }
            }

            button {
              border: none;
              background-color: #09a8d9;
              color: #fff;
              font-weight: 600;
              transition: all 0.2s;
              font-size: 0.85rem;
              padding: 0.3rem 0.9rem;
              text-transform: uppercase;

              &:hover {
                background-color: #000;
              }
            }
          }
        }
      }
    }

    &.rateProducts {
      h4 {
        font-weight: 600;
        font-size: 0.9rem;
        text-transform: uppercase;

        span {
          font-weight: 400;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .dashboardPage .infos label {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .breadcrumbs {
    padding-left: 0;
  }
  .editAddressModal .modal-content {
    // max-width: 90%;
  }
  .editAddressModal .modal-dialog {
    min-width: 600px !important;
  }
  .promoCodesPage {
    .promoWrap {
      margin-bottom: 2rem;
    }
  }
  .responsiveTable {
    overflow-x: auto;
    table {
      width: auto !important;
      td {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
      }
    }
  }
  .dashboardPage .accordion-item .responsiveTable table td {
    white-space: nowrap;
  }

  .reviewsPage .ratings li .ratingContent .details .rate {
    display: block;
    button {
      margin-top: 0.5rem;
    }
  }
}

@media only screen and (max-width: 767px) {
  // general
  .responsiveTable {
    overflow-x: auto;

    table {
      width: auto;

      td {
        padding: 1rem;
        white-space: nowrap;
      }
    }
  }

  .dashboardPage {
    padding: 0 1rem;

    .compteSideBar {
      position: relative;

      .navbar {
        position: static;
      }

      .navbar-toggler {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }

      .dashBoardNav {
        margin-bottom: 4rem;
      }

      .navbar-toggler:focus {
        box-shadow: none;
      }

      .navbar-collapse {
        transition: all 1s;
      }
    }

    .editAddressModal {
      .modal-dialog {
        min-width: 90% !important;
      }
    }

    .accordion-item {
      .responsiveTable {
        overflow-x: auto;

        table {
          width: auto;

          td {
            padding: 1rem;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .ordersPage .accordion-body .orderInfo {
    padding-right: 1rem;
    .products {
      background-color: #fff;
    }
  }

  .addressesPage {
    ul.addresses {
      li {
        margin-bottom: 4rem;
      }
    }

    .editAddressModal .modal-body .editAddresses {
      display: block;
    }
  }
  .dashboardPage .infos .contactDetails .contactList li .addressWrap {
    margin-bottom: 1rem;
  }
  .dashboardPage .infos .checkboxWrap label {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .modal.show {
    padding-top: 150px;
  }
  .modal.show .modal-dialog {
    // max-height: calc(90% - 150px);
    max-height: 90%;
    overflow-y: auto;
    min-height: auto;
    display: block;
  }
  .modal.dashboardAddress .modalPadding {
    padding: 1.5rem 1rem;
  }
  .dashboardPage .infos .contactDetails .contactList li .addressWrap .modify {
    visibility: visible;
  }
  .editAddressModal .modal-footer button {
    padding: 0.5rem 1.5rem;
  }
}
