.sub_category_container {
  height: 114px;
  cursor: pointer;

  &:hover .card_content_container {
    background-image: $rightTOLeftGradient;
  }

  img {
    width: 90px !important;
    height: 100%;
    object-fit: cover;
  }

  &:hover .card_content_container .card_content_container-text {
    color: #fff !important;
  }

  .card_content_container {
    background-color: #f1f1f1;

    &-text {
      font-size: 14px;
      font-weight: bold;
    }
  }
}



.instrument-card {
  cursor: pointer;
}

.instrument-card:hover .add_container {
  display: block;
}