@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: "Jost";
    src: url("/fonts/Jost/Jost-VariableFont_wght.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Source Sans";
    src: url("/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf");
    font-display: swap;

}

@font-face {
    font-family: "Jost-Italic";
    src: url("/fonts/Jost/Jost-Italic-VariableFont_wght.ttf");
    font-display: swap;

}

@font-face {
    font-family: "Source Sans Italic";
    src: url("/fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf");
    font-display: swap;

}